<div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Options</h5>
    <div class="gf-form">
      <label class="gf-form-label width-7">Type</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.settings.type" ng-change="ctrl.onConfigChanged()">
          <option value="scatter">Scatter</option>
          <option value="scatter3d">Scatter (3d)</option>
        </select>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Mode</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.settings.mode" ng-change="ctrl.onConfigChanged()">
          <option value="markers">Markers</option>
          <option value="lines">Lines</option>
          <option value="lines+markers">Lines + Markers</option>
        </select>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Drag</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.dragmode" ng-change="ctrl.onConfigChanged()">
          <option value="zoom">zoom</option>
          <option value="pan">pan</option>
          <option value="lasso">lasso</option>
          <option value="select">select</option>
        </select>
      </div>
    </div>

    <gf-form-switch class="gf-form" label="Toolbar" label-class="gf-form-label width-7" checked="ctrl.cfg.settings.displayModeBar" on-change="ctrl.onConfigChanged()"></gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">X</h5>

    <div class="gf-form">
      <label class="gf-form-label width-7">Title</label>
      <input class="gf-form-input width-7" ng-model="ctrl.cfg.layout.xaxis.title" ng-blur="ctrl.refresh();">
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Type</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.xaxis.type" ng-change="ctrl.onConfigChanged()">
          <option value="-">auto</option>
          <option value="linear">Linear</option>
          <option value="log">Log</option>
          <option value="date">Date</option>
        </select>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Range</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.xaxis.rangemode" ng-change="ctrl.onConfigChanged()">
          <option value="normal">Auto</option>
          <option value="between">Between</option>
          <option value="tozero">To Zero</option>
          <option value="nonnegative">Non-Negative</option>
        </select>
      </div>
    </div>

    <div class="gf-form" ng-if="ctrl.cfg.layout.xaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Min</label>
      <input type="number" placeholder="min" ng-model="ctrl.cfg.layout.xaxis.range[0]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>
    <div class="gf-form" ng-if="ctrl.cfg.layout.xaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Max</label>
      <input type="number" placeholder="max" ng-model="ctrl.cfg.layout.xaxis.range[1]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>

    <gf-form-switch class="gf-form" label="Show Grid:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.xaxis.showgrid" on-change="ctrl.onConfigChanged()"></gf-form-switch>
    <gf-form-switch class="gf-form" label="Zero Line:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.xaxis.zeroline" on-change="ctrl.onConfigChanged()"></gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Y</h5>

    <div class="gf-form">
      <label class="gf-form-label width-7">Title</label>
      <input class="gf-form-input width-7" ng-model="ctrl.cfg.layout.yaxis.title" ng-blur="ctrl.refresh();">
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Type</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.yaxis.type" ng-change="ctrl.onConfigChanged()">
          <option value="-">auto</option>
          <option value="linear">Linear</option>
          <option value="log">Log</option>
          <option value="date">Date</option>
        </select>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Range</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.yaxis.rangemode" ng-change="ctrl.onConfigChanged()">
          <option value="normal">Auto</option>
          <option value="between">Between</option>
          <option value="tozero">To Zero</option>
          <option value="nonnegative">Non-Negative</option>
        </select>
      </div>
    </div>

    <div class="gf-form" ng-if="ctrl.cfg.layout.yaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Min</label>
      <input type="number" placeholder="min" ng-model="ctrl.cfg.layout.yaxis.range[0]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>
    <div class="gf-form" ng-if="ctrl.cfg.layout.yaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Max</label>
      <input type="number" placeholder="max" ng-model="ctrl.cfg.layout.yaxis.range[1]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>

    <gf-form-switch class="gf-form" label="Show Grid:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.yaxis.showgrid" on-change="ctrl.onConfigChanged()"></gf-form-switch>
    <gf-form-switch class="gf-form" label="Zero Line:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.yaxis.zeroline" on-change="ctrl.onConfigChanged()"></gf-form-switch>
  </div>

  <div class="section gf-form-group" ng-if="ctrl.is3d();">
    <h5 class="section-heading">Z</h5>

    <div class="gf-form">
      <label class="gf-form-label width-7">Title</label>
      <input class="gf-form-input width-7" ng-model="ctrl.cfg.layout.zaxis.title" ng-blur="ctrl.refresh();">
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Type</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.zaxis.type" ng-change="ctrl.onConfigChanged()">
          <option value="-">auto</option>
          <option value="linear">Linear</option>
          <option value="log">Log</option>
          <option value="date">Date</option>
        </select>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-7">Range</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.cfg.layout.zaxis.rangemode" ng-change="ctrl.onConfigChanged()">
          <option value="normal">Auto</option>
          <option value="between">Between</option>
          <option value="tozero">To Zero</option>
          <option value="nonnegative">Non-Negative</option>
        </select>
      </div>
    </div>

    <div class="gf-form" ng-if="ctrl.cfg.layout.zaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Min</label>
      <input type="number" placeholder="min" ng-model="ctrl.cfg.layout.zaxis.range[0]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>
    <div class="gf-form" ng-if="ctrl.cfg.layout.zaxis.rangemode === 'between'">
      <label class="gf-form-label width-7">Max</label>
      <input type="number" placeholder="max" ng-model="ctrl.cfg.layout.zaxis.range[1]" class="gf-form-input width-10" ng-blur="ctrl.onConfigChanged()"
      />
    </div>

    <gf-form-switch class="gf-form" label="Show Grid:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.zaxis.showgrid"
      on-change="ctrl.onConfigChanged()"></gf-form-switch>
    <gf-form-switch class="gf-form" label="Zero Line:" label-class="gf-form-label width-7" checked="ctrl.cfg.layout.zaxis.zeroline"
      on-change="ctrl.onConfigChanged()"></gf-form-switch>
  </div>

</div>


